#navbar{
    background-color: #7C9D96;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
a, #navbar{
    color: white;
    text-decoration: none;
}