<!-- Footer -->
<footer id="footer">
    <section>
        <form method="post" action="https://formspree.io/f/xldlpnlz">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required/>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required/>
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="3" required></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <!--
        <section class="alt">
            <h3>Address</h3>
            <p>Nerethstraat 13<br/>
            9750, Ouwegem</p>
        
        </section>-->


        <section> <!-- #style="display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap; padding:0; margin:0;"> -->
    
            <h5>
                Don't hesitate to contact me if you are interested to collaborate!
            </h5>

        </section>
        <section>
            <h3>Location</h3>
            <p><a href="#">Krijgslaan Ghent, Belgium</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="mailto:hostenian@gmail.com">hostenian@gmail.com</a></p>
        </section>
        <section style="display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap; padding-top:0; padding-bottom:0; padding-right:0; padding-bottom:0; margin-top:0; margin-bottom:0; margin-right:0;">
            <h3>Social</h3>
            <ul class="icons alt" style="padding: 0em; flex:1;">
                <li>
                    <a class="icon-link" href="https://www.linkedin.com/in/ian-hosten-9a8486149/" target="_blank">
                        <span class="label">
                            <img src="images/linkedin_logo_gray.png" alt="LinkedIn">
                        </span>
                    </a>
                </li>
                <li>
                    <a class="icon-link" href="https://github.com/ihosten">
                        <span class="label" target="_blank">
                            <img src="images/git_logo_gray.png" alt="GitHub">
                        </span>
                    </a>
                </li>
            </ul>

            <img 
                src="images/profile_picture.png" 
                alt="profile picture" 
                style="max-width:11em; height:auto; display:block; flex:0 0 auto;"
            >
        </section>

    </section>
</footer>